*::-webkit-input-placeholder {
	color: #d7dcde;
	opacity: 1;
}
*:-moz-placeholder {
	color: #d7dcde;
	opacity: 1;
}
*::-moz-placeholder {
	color: #d7dcde;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #d7dcde;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	min-width:320px;

	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #000;
}

h1 {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

h2 {
	line-height: 30px;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
}

h3 {
	font-size: 36px;
	font-weight: bold;
	line-height: 36px;
	padding: 0;
	margin: 0;
}

header {
	padding-top: 50px;

	background-color: #eeeeee;
}

.logo {
	display: block;
	width: 160px;
	height: 65px;
}

.logo:hover img {
	opacity: 0.8;
}

.logo:active img {
	opacity: 0.3;
}

.main_nav button {
	outline: none;
	border: none;

	background-color: transparent;
}

.main_nav {
	text-align: center;
}

.main_nav ul {
	margin: 0;
	padding: 0;

	font-size: 0;

	list-style: none;
}

.main_nav li{
	display: inline-block;
	font-size: 16px;
	
}

.main_nav a,
.basket {
	position: relative;

	display: block;
	margin: 24px;
	margin-bottom: 0;

	font-family: "RobotoMedium"; 
	line-height: 30px;
	color: #000;
	text-transform: uppercase;
}

.main_nav a:hover,
.basket:hover {
	color: #fb565a;
}

.main_nav a:active {
	color: #000;
	opacity: 0.3;
}

.active:after {
	position: absolute;
	bottom: -14px;
	left: 1px;

	content: "";
	display: block;

	width: 100%;
	height: 2px;
	background-color: #fb565a;
}

.basket {
	float: right;
	margin-right: 0;
	margin-left: 0;
	padding-left: 41px;
}
.basket:before {
	content: "";
	display: block;
	position: absolute;
	left: 1px;
	top: 8px;

	width: 15px;
	height: 15px;
	background: url(../img/sprites.png) no-repeat 0 -4px ;
}

.basket:active { 
	color: #a6a6a6;
}

.slider {
	position: relative;

	width: 1160px;
	height: 430px;
	padding-top: 75px;
	padding-bottom: 80px;
}

.toggle {
	position: absolute;
	left: 50%;
	bottom: 96px;

	margin-left: -100px;
	height: 18px;
	width: 200px;

	text-align: center;
	font-size: 0;
}

.toggle i {
	display: inline-block;
	width: 18px;
	height: 18px;
	margin-left: 8px;
	margin-right: 8px;

	background-color: #fff;
	border-radius: 50%;
}

.toggle i.check {
	background:#fff url(../img/active-toggle.png) no-repeat 50% 50%;
}

.slider_content .title {
	margin-bottom: 28px;

	font-family: "RobotoMedium";
	font-size: 55px;
	line-height: 55px;
}

.slider_content p {
	margin-bottom: 40px;

	line-height: 24px;
}

.slider_content .btn {
	display: inline-block;
	height: 50px;
	width: 240px;

	text-align: center;
	line-height: 50px;
	text-transform: uppercase;
	color: #fff;

	border-radius: 2px;
	background-color: #fb565a;
}

.slider_content .btn:hover,
.form_btn:hover,
.contacts .btn:hover,
.hover_btn:hover {
	background-color: #e74246;
}

.slider_content .btn:active,
.form_btn:active,
.contacts .btn:active,
.hover_btn:active {
	background-color: #d7373b;
	color: #e37376;
	box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1) inset; 
}

.slider {
	display: none;
}

.slider:nth-child(1) {
	display: block;
}

.slider:nth-child(1) {
	background: url(../img/slide1.png) no-repeat;
	background-position: 431px 100%; 
}
.slider:nth-child(2) {
	background: url(../img/slide2.png) no-repeat;
	background-position: 495px 100%;
}
.slider:nth-child(3) {
	background: url(../img/slide3.png) no-repeat;
	background-position: 400px 100%;
}

.cards {
	padding-top: 80px;
	padding-bottom: 80px;
	width: 300px;
}

.card_img {
	margin-bottom: 25px;
}

.cards p {
	color: #283136;
	margin-bottom: 32px;
}

.cards .c_btn {
	display: inline-block;
	width: 160px;
	height: 50px;

	text-align: center;
	text-transform: uppercase;
	color: #fff;
	line-height: 50px;

	background-color: #000;
	border-radius: 3px;
}

.cards .red {
	background-color: #fb565a;
}
.cards .red:hover {
	background-color: #e74246;
}
.cards .red:active {
	background-color: #d7373b;
	color: #e37376;
	box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1) inset; 
}
.cards .green {
	background-color: #00ca74;
}
.cards .green:hover {
	background-color: #00bc6c;
}
.cards .green:active {
	background-color: #00aa62;
	color: #4dc491;
	box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1) inset; 
}

.cards .yellow {
	background-color: #efc84a;
}
.cards .yellow:hover {
	background-color: #eab534;
}
.cards .yellow:active {
	background-color: #e5a722;
	color: #edc265;
	box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1) inset; 
}

.line:after {
	content: "";
	display: block;
	width: 100%;
	height: 2px;

	background-color: #eeeeee;
}

.about_company {
	padding-top: 72px;
	padding-bottom: 80px;
}

.about_company .title {
	font-size: 45px;
	line-height: 45px;
	margin-bottom: 35px;
}

.about_company p {
	margin-bottom: 38px;

	color: #283136;
}

.about_company .working,
.features .features_title {
	font-family: "RobotoBold";
	text-transform: uppercase;
}

.about_company ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.about_company li {
	position: relative;

	padding-left: 36px;
	padding-top: 24px;

	color: #283136;
}

.about_company li:before {
	position: absolute;
	left: 1px;
	bottom: 10px;

	display: block;
	content: "";
	width: 25px;
	height: 2px;

	background-color: #fb565a;
}

.features {
	padding-top: 40px;
}

.features img {
	margin-bottom: 35px;
}

.features ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.features .features_title {
	text-align: center;
	padding-bottom: 42px;
}

.features li {
	display: inline-block;
	padding-right: 14px;
	padding-bottom: 20px;

	line-height: 18px;
	color: #283136;
}

.features li span {
	display: block;

	font-size: 45px;
	font-weight: bold;
	line-height: 45px;
}

.partners {
	position: relative;

	height: 180px;
	text-align: center;
	line-height: 180px;
}

.partners:after {
	content: "";
	position: absolute;
	top: 64px;
	right: -21px;

	display: block;
	width: 2px;
	height: 52px;

	background-color: #eeeeee;
}

.row .col-md-3:nth-child(4) .partners:after{
	display: none;
}

.partners a {
	opacity: 0.2;
	vertical-align: middle;
}

.partners a:hover {
	opacity: 1;
}

.partners a:active{
	opacity: 0.1;
}

#map {
	width: 100%;
	height: 416px; 

	background: #f1f1f1;
}
.indent {
	margin-top: 74px;
}

.overlay {
	position: absolute;
	top: 54px;
}

.contacts {
	width: 320px;
	padding: 49px;

	background-color: #fff;
}

.contacts h2 {
	margin: 0;
}

.contacts p {
	line-height: 18px;
	color: #666666;
}

.contacts .btn {
	margin-top: 20px;
	display: inline-block;
	height: 50px;
	width: 220px;

	text-align: center;
	line-height: 50px;
	text-transform: uppercase;
	color: #fff;

	border: none;
	border-radius: 2px;
	background-color: #fb565a;
	outline: none;
}

footer {
	min-height: 217px;
}

.social {
	padding-top: 69px;

	font-size: 0;
}

.social a {
	display: inline-block;
	width: 78px;
	height: 78px;
	margin-right: 12px;

	font-size: 16px;

	border-radius: 50%;
	background-color: #e1e1e1;
}

.social a:hover {
	background-color: #e74246;
}

.social a:active {
	background-color: #d7373b;
}

.social .vk {
	background:#e1e1e1 url(../img/sprites/vk.png) no-repeat 27px 32px;
}

.social .fb {
	background:#e1e1e1 url(../img/sprites/fb.png) no-repeat 35px 28px;
}

.social .inst {
	background:#e1e1e1 url(../img/sprites/insta.png) no-repeat 30px 29px;
}

.social_description h3{
	padding-top: 74px;
	margin-bottom: 9px;
}

.social_description p {
	padding: 0;
	margin: 0;
	margin-bottom: 9px;
}


                    /*  catalog  */

.catalog_title {
	margin-bottom: 110px;

	text-align: center;
}    

.catalog_title h1 {
	padding-top: 75px;
	margin: 0;

	font-family: "RobotoMedium"; 
	line-height: 55px;
	font-size: 55px;
	text-transform: none;
}

.catalog_item,
.catalog_price {
	padding-top: 55px;
	margin-bottom: 40px;
}

.catalog_sorting {
	margin-bottom: 54px;
}

.catalog_sorting span,
.catalog_price span {
	line-height: 18px;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
}

.sorting {
	margin: 0;
	padding: 0;
	display: inline-block;
	float: right;

	list-style: none;
}

.sorting li {
	display: inline-block;
	margin-left: 23px;
}

.sorting li:last-child {
	margin-left: 17px;
}

.sorting li a {
	line-height: 18px;
	font-size: 14px;
	text-transform: uppercase;
	color: #000;

	opacity: 0.3;
}

.sorting li a:hover {
	opacity: 0.6;
}

.sorting li .sorting_active,
.sorting li a:active {
	opacity: 1;
}

.sorting .down,
.sorting .up{
	display: block;
	width: 9px;
	height: 9px;

	font-size: 0;

	opacity: 0.2;
} 

.sorting .down {
	background: url(../img/sprites.png) no-repeat -399px -6px;
	margin-left: 19px;
}  

.sorting .up {
	background: url(../img/sprites.png) no-repeat -450px -8px;
}   

.items {
	font-size: 0;
	margin-bottom: 30px;
}   

.item {
	position: relative;

	display: inline-block;
	width: 360px;
	height: 616px;
	margin-right: 40px;
	margin-bottom: 36px;

	background-color: #e9e9e9;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}    

.item:nth-child(2n) {
	margin-right: 0;
}  

.item img {
	padding-top: 40px;
	width: 100%;
}

.item:hover {
	background-color: #4d4d4d;
	box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.25);
}

.item:hover .item_hover {
	display: block;
}

.circles {
	position: absolute;
	top: 13px;
	left: 15px;

	width: 60px;
	height: 14px;
}

.circles div {
	display: inline-block;
	margin-left: 9px;
	width: 14px;
	height: 14px;

	border-radius: 50%;
	background-color: #fff;
}

.circles div:first-child {
	margin-left: 0;
}

.item_hover {
	position: absolute;
	bottom: 0;

	display: none;
	height: 230px;
	width: 100%;

	font-size: 18px;
	text-align: center;

	background-color: #eeeeee;
}

.hover_title {
	margin-top: 25px;
	margin-bottom: 15px;

	font-family: "RobotoBold";
	line-height: 30px;
	text-transform: uppercase;
}

.hover_desc {
	margin-bottom: 30px;

	font-size: 16px;
	line-height: 18px;
	color: #666666;
}

.hover_btn {
	display: inline-block;
	padding: 17px 64px;

	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	color: #fff;

	border: none;
	border-radius: 3px;
	background-color: #fb565a;
	outline: none;
}

.pages {
	padding: 0;
	margin: 0;

	font-size: 0;
	list-style: none;
}

.pages li {
	display: inline-block;
	margin-right: 11px;
	margin-bottom: 20px;

	font-size: 16px;
}

.pages a {
	display: block;
	width: 50px;
	height: 50px;

	line-height: 44px;
	text-align: center;
	color: #000;
	text-transform: uppercase;

	border: 3px solid #eeeeee;
	background-color: #eeeeee;
	border-radius: 3px;
}

.pages a:hover {
	background-color: #dfdfdf;
	border-color: #dfdfdf;
}

.pages a:active {
	background-color: #d5d5d5;
	color: #959595;
	border-color: #d5d5d5;
	border-top-color: #bfbfbf;
	
}

.pages .pages_active {
	background-color: #fff;
	border-color: #dbdbdb;
}

.pages .next,
.pages .pref {
	display: inline-block;
	width:100%;
	padding-left: 75px;
	padding-right: 75px;

}

li.none {
	display: none;
}

.price {
	margin-bottom: 54px;
}

.filter {
	margin-bottom: 60px;
}

.filter_range {
	position: relative;

	height: 80px;
	width: 260px;
	padding: 0 20px;
	padding-top: 39px;
	margin-bottom: 15px;

	border-radius: 3px;
	background-color: #eeeeee;
}

.scale {
	width: 100%;
	height: 2px;

	background-color: #d7dcde;
}

.bar {
	height: 2px;
	width: 140px;

	background-color: #00ca74;
}

.ftoggle {
	position: absolute;
	top: 30px;

	width: 20px;
	height: 20px;

	border: 8px solid #fff;
	border-radius: 50%;
	background-color: #ababab;
	cursor: pointer;
}

.ftoggle-min {
	left: 20px;
}

.ftoggle-max {
	left: 142px;
}

.filter label {
	line-height: 22px;
	color: #283136;
	text-transform: uppercase;
}

.filter input {
	width: 80px;
	height: 38px;
	margin-left: 10px;

	line-height: 38px;
	text-align: center;
	outline: none;
	border: none;
	border-radius: 3px;
	background-color: #eeeeee;
}

label input[name="min_price"] {
	margin-right: 25px;
}

.radio_field,
.check_field {
	border: none;
	margin: 0;
	margin-bottom: 33px;
	padding: 0;
}

.radio_field span,
.check_field span {
	display: block;
	margin-bottom: 20px;
}

.radio_field label,
.check_field label {
	display: inline-block;
}

.radio_field label span,
.check_field label span {
	position: relative;

	padding-left: 35px;

	font-size: 16px;
	line-height: 20px;
	text-transform: none;
	font-weight: normal;
	color: #686d6f;
	cursor: pointer;
}

.radio_field label span:hover,
.check_field label span:hover {
	color: #000;
}

.radio_field input[disabled] + span,
.check_field input[disabled] + span {
	color: #bec1c2;
}

.radio_field label span::before,
.check_field label span::before {
	position: absolute;
	left: 0;
	top: -2px;

	content: "";
	width: 25px;
	height: 25px;
	display: block;

	background: url(../img/sprites.png) no-repeat -295px -1px;
	opacity: 0.4;
	cursor: pointer;
}

.check_field label span::before {
	background-position: -46px 0;
	width: 23px;
	height: 23px;
}

.radio_field label span:hover::before,
.check_field label span:hover::before {
	opacity: 1;
}

.radio_field input[disabled] + span::before,
.check_field input[disabled] + span::before {
	opacity: 0.1;
}

.radio_field input[type="radio"],
.check_field input[type="checkbox"] {
	display: none;
}

.radio_field input[type="radio"]:checked + span::before {
	background-position: -343px 0;
}

.check_field input[type="checkbox"]:checked + span::before {
	background-position: -93px 0;
	width: 27px;
	height: 23px;
}

.catalog_price button {
	width: 260px;
	height: 50px;
	margin-bottom: 20px;

	line-height: 18px;
	text-transform: uppercase;

	border: none;
	border-radius: 3px;
	background-color: #eeeeee;
	outline: none;
}

.catalog_price button:hover {
	background-color: #dfdfdf;
}

.catalog_price button:active {
	background-color: #d5d5d5;
	color: #959595;
	box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1) inset;
}



					/* Попап Обратной связи */

.rel {
	position: relative;
}

.write_us {
	position: absolute;
	
	left: 50%;
	margin-left: -480px;
	top: -130px;
	
	display: none;

	width: 960px;
	min-height: 430px;
	background-color: white;
	padding: 70px 100px;

	z-index: 10;
	box-shadow: 0px 20px 40px 0px rgba(0, 1, 1, 0.75); 
}

.write_us_title {
	width: 100%;
	line-height: 45px;
	font-size: 45px;
	margin-bottom: 50px;
}

.write_us label {
	line-height: 18px;
	font-weight: bold;
}

.form_sec_left,
.form_sec_right {
	float: left;
	margin-right: 40px;
	margin-bottom: 35px;
}

.form_sec_left input[type="text"],
.form_sec_right input[type="text"] {
	width: 360px;
	height: 46px;

	border: 2px solid #d7dcde;
	border-radius: 3px;

	outline: none;
}

.form_sec_right {
	margin-right: 0;
}

.form_sec_area textarea{
	width: 760px;
	height: 115px;
	margin-bottom: 45px;

	border: 2px solid #d7dcde;
	border-radius: 3px;

	outline: none;
}

.form_sec_left input[type="text"]:hover,
.form_sec_right input[type="text"]:hover,
.form_sec_area textarea:hover {
	border-color: #b4b9bb;
}

.form_sec_left input[type="text"]:hover::placeholder,
.form_sec_right input[type="text"]:hover::placeholder,
.form_sec_area textarea:hover::placeholder {
	color: #b1b1b1;
}

.form_sec_left input[type="text"]:focus,
.form_sec_right input[type="text"]:focus,
.form_sec_area textarea:focus{
	border-color: #000000;
}

.form_sec_left input[type="text"]:focus::placeholder,
.form_sec_right input[type="text"]:focus::placeholder,
.form_sec_area textarea:focus::placeholder {
	color: #444444;
}

.form_sec_left input[type="text"]:invalid,
.form_sec_right input[type="text"]:invalid {
	border-color: #e74246;
}

.form_btn {
	display: inline-block;
	padding: 18px 80px;

	color: white;
	line-height: 18px;
	text-transform: uppercase;

	background-color: #fb565a;
	border: none;
	border-radius: 3px;
	outline: none;
}

.close {
	position: absolute;
	right: 80px;
	top: 80px; 
	width: 21px;
	height: 21px;
	border: none;
	outline: none;
	background-color: transparent;
}

.close:hover:after,
.close:hover:before{
	background-color: #fb565a;
}

.close:active:after,
.close:active:before{
	background-color: #ffeeee;
}

.close:after,
.close:before {
	position: absolute;
	top: -2px;
	left: 9px;
	content: "";
	display: block;
	width: 5px;
	height: 25px;
	background-color: #fecccd;
}

.close:after {
	transform: rotate(45deg);
}

.close:before {
	transform: rotate(-45deg);
}
